 <main id="notify" class="m-5">
    <div class="main">
        <div class="sidebar2">
            <div class="tittle">
                <h2>Tus Notificaciones</h2>
                <div class="text-center font-italic">
                    Cuando alguien reporte a tu mascota, la información de esa persona aparecerá aquí
                </div>
            </div>
            <div class="dogsReport">
                {{#each dataMiss}}
                    <div class="report">
                        <h4 class="text-center mt-2">Número de reporte {{numReport}}</h4>
                        <div class="info-report col-12 pb-3 pt-1">
                            <div class="sec-pers col-5 p-2">
                                <h5 class="text-center">Datos de la Persona</h5>
                                <div class="pers-info pl-2">
                                    <span><b>Nombre: </b>{{namePers}}</span>
                                    <span><b>Número de Teléfono: </b>{{phonePers}}</span>
                                    <span><b>Email: </b>{{emailPers}}</span>
                                    <span><b>Reporte hecho: </b>{{timeAgo dataFound}}</span>
                                </div>    
                            </div>
                            <div class="sec-dog col-5 p-2">
                                <h5 class="text-center">Datos del Perro</h5>
                                <div class="dog pl-2">
                                    <img src="{{photoDog}}">
                                    <div class="dog-info">
                                        <span>Nombre: {{nameDog}}</span>
                                        <span>Código: #{{codeDog}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{else}}
                    <div class="clear text-center">
                        <h3>❤️Confiamos que regresarán pronto a casa️❤️</h3>
                        <span>Cada mascota extraviada se publican en nuestras redes para que la comunidad esté alerta si ven a alguna mascota extraviada.</span>
                        <span>Te dejamos nuestras redes para que lo veas.</span>
                        <a href="http://" target="_blank">
                            <img class="mx-auto" src="/img/redes-sociales/instagram.svg"  alt="Icono de instagram">
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</main>
